/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px; /* Задайте ширину логотипу відповідно до ваших потреб */
}

nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
    width: 80%;
    margin: 0 auto; /* вирівнюємо по центру */
}

section {
    margin-bottom: 30px;
}

section h2 {
    text-align: center; /* вирівнюємо заголовки по середині */
}

.gem-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gem-info-text {
    width: 60%; /* ширина блоку з описом */
}

.gem-image {
    text-align: center; /* вирівнюємо картинку по середині */
}

.gem-image img {
    width: 100px; /* Задайте ширину картинки відповідно до ваших потреб */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
